@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    font-family: "Nerko One", cursive;
    font-size: 25px;
}

.icone {
    color: rgb(216, 44, 9);
}

/* -------------------------------- */

.background {
    background-image: url(../img/resort1.jpg);
    background-size: cover;
    height: 513px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: relative;
    top: 25px;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 45px;
    text-align: center;
}

select {
    position: relative;
    top: 50px;
    padding: 15px 130px;
}

.formulario {
    text-align: center;
    position: relative;
    top: 30px;
}

.btn1 {}


/* MOBILE */
@media (max-width: 480px) {

    /* HEADER */
    .navegacao ul {
        text-align: center;
        background: #000000;
        padding: 15px 0;
    }

    .icone {
        color: rgb(235, 118, 8);
        font-size: 40px;
    }

    li {
        font-size: 22px;
        color: rgb(235, 118, 8);
    }

    li:hover{
        color: rgb(157, 86, 21);
    }

    /* ---------------------- */

    .background {
        background-image: url(../img/resort1.jpg);
        background-size: cover;
        height: 513px;
    }

    .titulo {
        font-size: 55px;
        text-align: center;
        position: relative;
        top: 20px;
        font-family: "Nerko One", cursive;
        text-shadow: 2px 2px rgb(235, 118, 8);
    }

    .title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        position: relative;
        top: 55px;
        text-shadow: 2px 2px #000;
    }

    .p1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        position: relative;
        top: 70px;
        text-align: center;
        color: rgb(235, 118, 8);
        text-shadow: 2px 2px #000;
    }

    select {
        position: relative;
        top: 50px;
        padding: 15px 130px;
    }

    .formulario {
        text-align: center;
        position: relative;
        top: 70px;
    }

    option {
        font-size: 20px;
    }

    .btn1 {
        position: relative;
        top: 75px;
        cursor: pointer;
        padding: 15px 110px;
        border-radius: 5px;
        background: rgb(235, 118, 8);
        font-size: 20px;
        border: none;
    }


    /* Conheça mais Resorts */

    .fundo {
        background: #000;
        height: 400vh;
    }

    h2 {
        font-size: 30px;
        font-family: "Nerko One", cursive;
        text-align: center;
        position: relative;
        top: 20px;
        color: rgb(235, 118, 8);
    }

    .imgResorts {
        height: 300px;
        width: 400px;
        position: relative;
        left: 40px;
        top: 30px;
        margin-top: 15px;
        cursor: pointer;
    }

    /* Footer */

    .rodaPe {
        height: 40vh;
        background: rgb(235, 118, 8);
    }

    .titleFooter {
        color: #000;
    }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 30px;
        text-align: center;
        padding: 5px 15px;
    }

    .redesSociais {
        display: flex;
        justify-content: center;
        position: relative;
        top: 55px;
        gap: 15px;
    }

    .icones {
        font-size: 30px;
        cursor: pointer;
    }

    .icones:hover {
        color: rgba(210, 105, 30, 0.769);
    }

}



/* TABLET */
@media (max-width: 768px) {

    /* header  */
    .navegacao ul {
      display: flex;
      justify-content: end;
      gap: 20px;
      align-items: center;
      position: relative;
      right: 50px;
    }

    .navegacao{
        background: #000;
    }

    li {
        color: rgb(235, 118, 8);
        font-size: 25px;
        cursor: pointer;
    }

    li:hover{
        color: rgb(157, 86, 21);;
    }

    .iconeConfiguracao{
        margin-right: 350px;
        padding: 10px;
        position: relative;
    }

    .icone{
        font-size: 35px;
        color: rgb(235, 118, 8);
    }

    /* section */

    .background{
        height: 65vh;
    }

    .titulo{
        text-align: center;
        position: relative;
        top: 20px;
        font-family: "Nerko One", cursive;
        text-shadow: 2px 2px rgb(235, 118, 8);
        font-size: 60px;
    }

    .title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        text-shadow: 2px 2px rgb(235, 118, 8);
    }

    .p1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        color: #000;
        text-shadow: 2px 2px rgb(235, 118, 8);
        font-weight: 500;
    }

    select {
        padding: 10px 50px;
        border-radius: 10px;
        text-align: center;
    }

    .formulario {
        text-align: center;
        position: relative;
        top: 50px;
        display: flex;
        justify-content: center;
    }

    option {
        font-size: 20px;
    }

    .btn1 {
        position: relative;
        top: 130px;
        left: 250px;
        cursor: pointer;
        padding: 10px 50px;
        border-radius: 5px;
        background: rgb(235, 118, 8);
        font-size: 20px;
        border: none;
        
    }

    /* ---------- */

    .fundo{
        background: #000;
        height: 580vh;
    }

    h2{
        font-size: 40px;
        font-family: "Nerko One", cursive;
        text-align: center;
        position: relative;
        top: 20px;
        color: rgb(235, 118, 8);
    }

    .imgResorts{
        height: 450px;
        width: 700px;
        position: relative;
        left: 38px;
        top: 30px;
        margin-top: 20px;
    }

    /* roda pe */

    .rodaPe {
        height: 40vh;
        background: rgb(235, 118, 8);
    }

    .titleFooter {
        color: #000;
    }

    .p2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        position: relative;
        top: 30px;
        text-align: center;
        padding: 5px 15px;
    }

    .redesSociais {
        display: flex;
        justify-content: center;
        position: relative;
        top: 55px;
        gap: 15px;
    }

    .icones {
        font-size: 40px;
        cursor: pointer;
    }

    .icones:hover {
        color: rgba(210, 105, 30, 0.769);
    }
}





/* DESKTOP */
@media (max-width: 1025px) {
    /* header */
    .navegacao ul{
        display: flex;
        justify-content: end;
        gap: 20px;
        padding: 10px;
    }

    .navegacao{
        background: #000;
    }

    li{
        color: rgb(235, 118, 8);
        font-size: 35px;
        position: relative;
        right: 40px;
        cursor: pointer;
    }

    li:hover{
       color:  rgb(157, 86, 21); 
    }

    .iconeConfiguracao{
        margin-right: 530px;
        position: relative;
    }

    .icone{
        font-size: 40px;
        color: rgb(235, 118, 8);
    }

    /* ------ */

    .background{
        height: 91vh;
    }

    .titulo {
        font-size: 70px;
        text-align: center;
        position: relative;
        top: 60px;
        font-family: "Nerko One", cursive;
        text-shadow: 2px 2px rgb(235, 118, 8);
    }

    .title {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        position: relative;
        top: 80px;
        text-shadow: 3px 3px #000;
        color: rgb(235, 118, 8);
    }

    .p1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        position: relative;
        top: 90px;
        text-align: center;
        color: rgb(235, 118, 8);
        text-shadow: 2px 2px #000;
        font-weight: 600;
    }

    select {
        position: relative;
        top: 110px;
        padding: 15px 80px;
        border-radius: 10px;
    }

    .formulario {
        text-align: center;
        position: relative;
        top: 70px;
    }

    option {
        font-size: 20px;
    }

    .btn1 {
        position: relative;
        top: 220px;
        left: 338px;
        cursor: pointer;
        padding: 15px 90px;
        border-radius: 5px;
        background: rgb(235, 118, 8);
        font-size: 20px;
        border: none;
    }

    /* section */

    .fundo{
        background: #000;
        height: 212vh;
    }

    h2{
        color: rgb(235, 118, 8);
        font-family: "Nerko One", cursive;
        font-size: 45px;
        text-align: center;
        padding: 20px;
    }

    .imgConfiguracoes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
        gap: 30px;
        cursor: pointer;
    }

    .imgResorts{
        height: 300px;
        width: 400px;
    }

    /* roda pé */480

    .rodaPe{

    }

    .titleFooter{

    }

    .p2{

    }

    .redesSociais{

    }

    .icones{

    }
}